$timeout: 500ms;
$width: 300px;

.sidebar-enter {
  transform: translateX($width);
}

.sidebar-enter-active {
  transform: translateX(0);
  transition: transform $timeout;
}

.sidebar-exit {
  transform: translateX(0);
}

.sidebar-exit-active {
  transform: translateX($width);
  transition: transform $timeout;
}
